.header-div {
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo-image-header {
  height: 12vh;
}

.nav-header {
  align-items: center;
  display: flex;
  justify-content: end;
  gap: calc(10vw - 2vh);
  width: 65%;
}

.nav-header a {
  color: var(--light);
  text-decoration: none;
  font-size: calc(1.2vw + 1vh);
}
