.intro-section-home {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.text-highlight {
  color: var(--tertiary-color);
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 50%;
}

.intro-section-home img {
  background-image: url('../../images/background-shape.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 150%;
  height: 25rem;
}

.about-section {
  background-color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
}
