.intro-section {
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
}

.text-highlight {
  color: var(--tertiary-color);
}

.intro-text {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}

.intro-section h2 {
  font-size: calc(1.5vw + 1.5vh);
}

.intro-section img {
  background-image: url('../../images/background-shape.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 150%;
  padding-top: 3rem;
  height: calc(35vw + 5vh);
}

.about-section {
  background-color: #ff965d2c;
  border: 1px solid #ff965d2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.about-section h2 {
  text-align: center;
}

.about-section-content-div {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: calc(95% + 5vh);
  gap: 1rem;
}

.about-section-content-div img {
  border-radius: 1rem 0;
  height: calc(80vh - 15vw);
}

.about-section-content-text-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: calc(95% - 25vw);
}

.about-section-content-text-div p {
  margin: 0;
}

.services-list-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.service-div {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
  max-width: 350px;
  padding: 1.5rem;
  margin: 1rem;
}

.service-div button a {
  all: unset;
}

.contact-section {
  background-color: #ff965d2c;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 3rem;
}

.contact-section img {
  border-radius: 1rem 0;
  height: calc(50vh - 0.5vw);
}

.contact-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc(50vw + 15vh);
  width: calc(95% + 5vh);
}

.contact-section div button {
  align-self: center;
}

.contact-section div button a {
  all: unset;
}
