@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans:wght@300&family=Overpass:ital@1&display=swap');

:root {
  --dark: #442843;
  --light: #f4f4f4;
  --primary-color: #6c3c68;
  --secondary-color: #ffd54a;
  --tertiary-color: #ff955d;

  --title: 'Lato', sans-serif;
  --sub-title: 'Noto Sans', sans-serif;
  --text: 'Overpass', sans-serif;
}

body {
  background-color: var(--light);
  color: rgb(17, 0, 26);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--title);
  font-size: calc(3vw + 1vh);
}

h2, h3, h4, h5 {
  font-family: var(--sub-title);
}

h2 {
  font-size: calc(2vw + 1vh);
}

p, a, button {
  font-family: var(--text);
  font-size: calc(1vw + 1vh);
}
